/install*
/img/*

/config/settings.inc.php
/config/defines.inc.php
/config/xml/*

/cache/*
/vendor/*
/export
/log/*
/modules/*/config*.xml
/.htaccess
/.htpasswd
/translations/*.gzip

/admin*/backups
/admin*/themes/*/.sass-cache

/themes/*/**/*.map
/themes/*/.sass-cache

**/*.sublime*
/backups

/modules/massprice
/modules/themeconfigurator/img
modules/homeslider/images

parser/img/*

blog_pics/*

userfiles/*

download/*
*.crt
*.key
admin1210/import

import/prices/*
.idea
vagrant/.vagrant
dbpics
themes/spinkat/cache
config/settings.old.php
