.nopadding {
  padding: 0 !important; }

.nomarginP {
  margin: 0; }

.p-a-20 {
  padding: 20px; }

.ph_simpleblog .page-heading {
  padding-bottom: 0px;
  margin-bottom: 20px; }
.ph_simpleblog .simpleblog-posts .simpleblog-post-item {
  background: #FFFFFF;
  margin: 0 0 20px 0;
  padding: 0; }
.ph_simpleblog .simpleblog-posts .post-item {
  border: none;
  margin: 0px; }
.ph_simpleblog .simpleblog-posts .post-thumbnail {
  float: left;
  width: 245px;
  margin-right: 20px; }
.ph_simpleblog .simpleblog-posts .post-content-block {
  padding: 20px 20px 0px 20px; }
.ph_simpleblog .simpleblog-posts .post-title {
  padding: 0;
  margin-bottom: 18px; }
  .ph_simpleblog .simpleblog-posts .post-title h2 {
    margin: 0px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    padding: 0; }
    .ph_simpleblog .simpleblog-posts .post-title h2 a {
      color: #000; }
      .ph_simpleblog .simpleblog-posts .post-title h2 a:hover {
        text-decoration: underline; }
.ph_simpleblog .simpleblog-posts .post-content {
  font-size: 13px;
  margin: 0px;
  padding: 0; }
  .ph_simpleblog .simpleblog-posts .post-content .post-read-more a:hover {
    text-decoration: underline; }
.ph_simpleblog .simpleblog-posts .post-additional-info {
  overflow: initial; }
.ph_simpleblog .simpleblog-posts .simpleblog-post-type-gallery {
  width: calc(25% - 10px) !important;
  margin: 0px 5px 20px;
  padding: 0px; }
  @media (max-width: 1023px) {
    .ph_simpleblog .simpleblog-posts .simpleblog-post-type-gallery {
      width: 100% !important; } }
  .ph_simpleblog .simpleblog-posts .simpleblog-post-type-gallery .post-thumbnail {
    width: 227px;
    height: 227px;
    margin: 0px 0px 10px; }
  .ph_simpleblog .simpleblog-posts .simpleblog-post-type-gallery .post-content-block .post-title {
    margin: 0px; }
    .ph_simpleblog .simpleblog-posts .simpleblog-post-type-gallery .post-content-block .post-title h2 {
      font-size: 18px;
      text-align: center; }

/*  SINGLE POST  */
.my-post-single {
  background: #FFFFFF; }
  .my-post-single h1 {
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    border: none;
    background: #FFFFFF;
    color: #000000;
    padding: 0 20px;
    margin: 0 0 20px 0; }
  .my-post-single .post-content {
    margin: 0 0 25px 0;
    background: none; }
    .my-post-single .post-content p {
      font-size: 13px;
      padding: 0; }
    .my-post-single .post-content img {
      max-width: 100%; }
    .my-post-single .post-content a {
      color: #027DC8; }
  .my-post-single .post-block {
    padding: 20px 0px;
    background: none; }
  .my-post-single #simpleblog-post-comments {
    background: #f6f6f6; }
    .my-post-single #simpleblog-post-comments .row {
      margin: 0; }
    .my-post-single #simpleblog-post-comments .block-title {
      margin: 0;
      border: none;
      text-transform: none;
      font-size: 20px;
      font-weight: 600;
      color: #000;
      background: none;
      padding: 0 20px 10px;
      margin-bottom: 10px; }
    .my-post-single #simpleblog-post-comments .post-comments-list {
      padding: 0 20px 10px 20px; }
    .my-post-single #simpleblog-post-comments .post-comment {
      border: none;
      padding: 5px 0px; }
      .my-post-single #simpleblog-post-comments .post-comment .post-comment-meta {
        padding: 0px; }
        .my-post-single #simpleblog-post-comments .post-comment .post-comment-meta .post-comment-author {
          font-style: normal;
          font-weight: 600; }
      .my-post-single #simpleblog-post-comments .post-comment .post-comment-content {
        background: #ffffff;
        padding: 7px 10px;
        font-size: 14px;
        border: 1px solid #e4e4e4;
        border-radius: 3px; }
  .my-post-single .simpleblog-new-comment-form {
    background: #f6f6f6; }
    .my-post-single .simpleblog-new-comment-form .box {
      background: #f6f6f6;
      border: none;
      margin: 0;
      padding: 20px; }
    .my-post-single .simpleblog-new-comment-form .row {
      margin: 0 0 15px 0; }
    .my-post-single .simpleblog-new-comment-form label {
      font-weight: 600;
      padding: 0px; }
    .my-post-single .simpleblog-new-comment-form input, .my-post-single .simpleblog-new-comment-form textarea {
      padding: 5px; }
    .my-post-single .simpleblog-new-comment-form .cart_navigation {
      padding-left: 0px; }
      .my-post-single .simpleblog-new-comment-form .cart_navigation button {
        float: left; }
    .my-post-single .simpleblog-new-comment-form .light-button:hover span {
      color: #fff; }
  .my-post-single .post-gallery {
    display: block;
    overflow: auto;
    height: auto;
    padding: 0px 5px; }

.post-content-block {
  padding: 20px 0px 14px; }

.post-meta-info {
  background: none;
  padding: 0; }
  .post-meta-info .experts-foto-link {
    float: left;
    margin-right: 10px; }
    .post-meta-info .experts-foto-link .experts-foto {
      height: 65px;
      width: 65px; }
  .post-meta-info .post-data div {
    margin: 0px 0px 6px 0px; }
    .post-meta-info .post-data div span {
      padding: 0px;
      margin: 0px;
      font-weight: bold;
      border: none; }
      .post-meta-info .post-data div span time {
        font-weight: normal; }
    .post-meta-info .post-data div.post-tags a {
      text-decoration: underline;
      display: inline; }

.simpleblog-authorslist .simpleblog-posts .post-thumbnail {
  width: 105px; }
.simpleblog-authorslist .simpleblog-posts .post-content-block {
  padding: 15px; }

.block-author-info {
  padding: 20px;
  overflow: auto; }
  .block-author-info .post-featured-image {
    margin: 0px 20px 0px 0px;
    float: left; }
    .block-author-info .post-featured-image img {
      max-height: 150px; }
  .block-author-info .author-category-posts a {
    text-decoration: underline; }

@media (max-width: 1023px) {
  .ph_simpleblog .simpleblog-posts .post-thumbnail {
    width: 100%;
    margin-bottom: 15px; }
  .ph_simpleblog .simpleblog-posts .post-additional-info {
    padding: 10px 0; }
    .ph_simpleblog .simpleblog-posts .post-additional-info a {
      display: block; } }
.simpleblog-single .post-meta-info {
  display: inline-block; }

/*# sourceMappingURL=custom.css.map */
