@import "compass";
@import "theme_variables";
#search_block_top,
.search_block_top {
	// padding-top: 50px;
	float: left;
	width: 730px;
	margin-left: 10px;
	.searchbox {
		float: left;
		width: 100%;
	}
    @media (max-width: $screen-xs-max) {
    	width: 100%;
    	margin: 0 0 15px 0;
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form.searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}

#search_block_top,
#search_block_left,
.search_block_top {
	.search_query_top,
	#search_query_block {
		display: inline;
		padding: 10px 60px 10px 13px;
		height: 42px;
		background: $base-box-bg;
		font-family: $font-family-arial;
	}
	.btn.button-search {
		background: #e62329;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		color: $light-text-color;
		width: 42px;
		text-align: center;
		padding: 13px 0px;
		span {
			display: none;
		}
		&:before {
			content: "";
			display: block;
			background: url(../../../img/sprites.png) -256px -96px no-repeat;
			height: 16px;
			width: 16px;
			text-align: center;
			margin: 0px 13px;
		}
		&:hover {
			color: #6f6f6f
		}
	}
}
